.my-nav{
    
    background-color:#0b3658;
}
i{
    font-size: 20px;
    color:black;
    margin-right: 5px;
    padding-right: 3px;
}

span{
    font-family: 'Lilita One', cursive;
    font-weight: bold;
}


.Nav{
    color: white;
    font-size: 20px;
}
