.form-control{
    width: 80%;
    border-radius: 20px;
}
.btn-primary {
    color: #fff;
    background-color: #0062cc;
    border-color:#0062cc;
    border-radius: 20px;
    width: 50%;
}
form{
    margin-top: 50px;
}
label{
    font-weight: bold;
}
img{
    width: 60%;  
}
a{
    color: black;
}